<!-- day-events.component.html -->

<div class="navbar sticky-top customNavClass">
  <img class="logoImg" src="../../assets/img/logo.png" routerLink="home"/>
  <img class="navBrand" src="../../assets/img/nav_brand.png" />
  <img class="logoutImg" src="../../assets/img/logout.png" (click)="logout()"/>

</div>

<div class="posRel">
    <full-calendar [options]="calendarOptions" [events]="calendarEvents"></full-calendar>
    <div class="erroDiv" *ngIf="isErrorMessageVisible">
      <div class="error-popup" >
        <div class="error-message">{{ errorMessage }}</div>
      </div>
    </div>
    
    
    <!-- <div class="event-details" *ngFor="let event of calendarEvents">
        <div class="event">
          <button (click)="deleteEvent(event)">X</button>
        </div>
      </div> -->
</div>

<div class="overlay" id="overlay"></div>

<div class="confirmation-dialog" id="confirmationDialog">
  <p>Are you sure you want to delete this event?</p>
  <button class="navBtn" onclick="confirmAction(true)">Yes</button>
  <button  class="navBtn" onclick="confirmAction(false)">No</button>
</div>

  
  
