<div class="loginWrapper">
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header textAlignCenter">
            <h2 class="marB0">Login</h2>
          </div>
          <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="login()">
              <div class="form-group marB10">
                <label for="email" class="labelCustom" >Email:</label>
                <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter your registered email">
                <div *ngIf="loginForm.get('email')!.hasError('required') && loginForm.get('email')!.touched">
                  Email is required.
                </div>
                <div *ngIf="loginForm.get('email')!.hasError('email') && loginForm.get('email')!.touched">
                  Please enter a valid email address.
                </div>
              </div>
              <div class="form-group marB10">
                <label for="password" class="labelCustom">Password:</label>
                <input type="password" class="form-control" id="password" formControlName="password" placeholder="Enter your password">
                <div *ngIf="loginForm.get('password')!.hasError('required') && loginForm.get('password')!.touched">
                  Password is required.
                </div>
                <div *ngIf="loginForm.get('password')!.hasError('pattern') && loginForm.get('password')!.touched">
                  Password must be minimum 8 alphanumeric characters.
                </div>                
              </div>
              <div class="form-group marB10 textAlignCenter">
                <button type="submit" class="btn btn-primary loginBtn" [disabled]="!loginForm.valid">Login</button>
              </div>

              <p class="text-center">
                Don't have an account? <a routerLink="/signup">Sign up</a>
              </p>

              <p class="text-center">
                Forgot Password? <a routerLink="/forgot-password">Click here!</a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
