.marB10
{
    margin-bottom: 10px;
}
.marB0 
{
  margin-bottom: 0px;
}
.textAlignCenter
{
  text-align: center;
}
.labelCustom
{
  font-weight: 500;
  margin-bottom: 5px;
}
.signUpBtn
{
  background-color: #1A252F !important;
  border-color: #1A252F;
  opacity: 1;
}
.textAlignCenter
{
  text-align: center;
}