<!-- signup.component.html -->

<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header textAlignCenter">
          <h2 class="marB0">Sign Up</h2>
        </div>
        <div class="card-body">
          <form [formGroup]="signupForm" (ngSubmit)="signup()">
            <div class="form-group marB10">
              <label for="username" class="labelCustom">Username:</label>
              <input type="text" class="form-control" id="username" formControlName="username" placeholder="Enter your username">
            </div>
            <div class="form-group marB10">
              <label for="signupEmail" class="labelCustom">Email:</label>
              <input type="email" class="form-control" id="signupEmail" formControlName="signupEmail" placeholder="Enter your email id">
            </div>
            <div class="form-group marB10">
              <label for="signupPassword" class="labelCustom">Password:</label>
              <input type="password" class="form-control" id="signupPassword" formControlName="signupPassword" placeholder="Enter your password">
            </div>
            <div class="form-group marB10">
              <label for="confirmPassword" class="labelCustom">Confirm Password:</label>
              <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" placeholder="Re-enter your password">
            </div>
            <div class="form-group marB10 textAlignCenter">
              <button type="submit" class="btn btn-success signUpBtn" [disabled]="!signupForm.valid">Sign Up</button>
            </div>
          </form>
          <p class="text-center">
            Already have an account? <a routerLink="/">Log In</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
