<!-- forgot-password.component.html -->

<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header textAlignCenter">
          <h2 class="marB0">Forgot Password</h2>
        </div>
        <div class="card-body">
          <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
            <div class="form-group marB10">
              <label for="forgotEmail" class="labelCustom">Email:</label>
              <input type="email" class="form-control" id="forgotEmail" formControlName="forgotEmail">
              <div *ngIf="forgotPasswordForm.get('forgotEmail')!.hasError('required') && forgotPasswordForm.get('forgotEmail')!.touched">
                Email is required.
              </div>
              <div *ngIf="forgotPasswordForm.get('forgotEmail')!.hasError('email') && forgotPasswordForm.get('forgotEmail')!.touched">
                Please enter a valid email address.
              </div>
            </div>
            <div class="form-group marB10 textAlignCenter">
              <button type="submit" class="btn btn-info resetBtn textAlignCenter" [disabled]="!forgotPasswordForm.valid">Send Reset Email</button>
            </div>
             </form>
        </div>
      </div>
    </div>
  </div>
</div>
